$title-color: rgba(0, 0, 0, 0.88);
$text-color: rgba(0, 0, 0, 0.72);
$subtext-color: rgba(0, 0, 0, 0.6);
$descr-color: rgba(255, 255, 255, 0.86);
$current-color: rgba(0, 0, 0, 0.38);
$detail-color: rgba(0, 0, 0, 0.54);
