$mono-a-a900: rgba(0, 0, 0, 0.88);
$mono-a-a800: rgba(0, 0, 0, 0.72);
$mono-a-a700: rgba(0, 0, 0, 0.6);
$mono-a-a600: rgba(0, 0, 0, 0.54);
$mono-a-a500: rgba(0, 0, 0, 0.38);
$mono-b-a900: rgba(255, 255, 255, 0.86);
$mono-b-a500: #fff;
