.advantages {
  &__background {
    background: $secondary-1-300;
    border-radius: 6px;
    margin: 47px 0 67px 0;
  }
  &__content {
    text-align: center;
    padding-top: 56px;
  }
  &__subtitle {
    padding-bottom: 8px;
    color: $mono-a-a900;
  }
  &__text {
    color: $mono-a-a700;
  }
  &__subject {
    color: $mono-a-a900;
    padding: 12px 0 4px 0;
  }
  &__descr {
    color: $mono-a-a600;
    padding-bottom: 16px;
  }
  &__wrapper {
    height: 248px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  &__services {
    padding: 24px;
    display: grid;
    justify-content: center;
    // grid-template-columns: repeat(auto-fill, 320px);
    // grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
  &__icon {
    height: 64px;
    width: 64px;
    margin: 0 auto;
    display: flex;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
    background: $other-background;
  }
  img {
    width: 36px;
    height: 38px;
  }
}

.button_more {
  color: $mono-a-a700;
  width: 109px;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: all 0.1s ease;
  background: transparent;
  &:hover {
    box-shadow: 0 1px 5px rgb(0 0 0 / 30%);
    background-color: $other-background-1;
  }
}
