.advantages {
  &__background {
    background: $secondary-1-300;
    border-radius: 6px;
    margin: 47px 0 67px;
  }

  &__content {
    padding-top: 56px;
    text-align: center;
  }

  &__subtitle {
    color: $mono-a-a900;
    padding-bottom: 8px;
  }

  &__text {
    color: $mono-a-a700;
  }

  &__subject {
    color: $mono-a-a900;
    padding: 12px 0 4px;

    @media #{$tablet} {
      padding: 14px 0 4px;
    }
  }

  &__descr {
    color: $mono-a-a600;
    padding-bottom: 16px;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    height: 248px;
    justify-content: space-around;
    text-align: center;
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
    padding: 24px;

    @media #{$tablet} {
      padding: 12px;
    }
  }

  &__icon {
    align-items: center;
    background: $other-background;
    border-radius: 32px;
    display: flex;
    height: 64px;
    justify-content: center;
    margin: 0 auto;
    width: 64px;
  }

  img {
    height: 38px;
    width: 36px;
  }
}

.button_more {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: $mono-a-a700;
  cursor: pointer;
  height: 40px;
  transition: all 0.1s ease;
  width: 109px;

  &:hover {
    background-color: $other-background-1;
    box-shadow: 0 1px 5px rgb(0 0 0 / 30%);
  }
}
