.show {
  display: flex;
  justify-content: space-between;
  margin: 46px 8px 26px 0;
  align-items: center;
  &__all {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    // width: 143px;
    // height: 40px;
    &:hover {
      opacity: 0.6;
      // background-color: $mono-a-a50;
      // border-radius: 4px;
    }
  }
  &__link {
    color: $mono-a-a700;
    padding-right: 8px;
  }
  &__img {
    height: 16px;
    width: 16px;
  }
}

.modified {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.card {
  flex-shrink: 0;
  &:hover {
    box-shadow: 0px -0.5px 2px 1px rgba(0, 0, 0, 0.02),
      0px 4px 8px rgba(0, 0, 0, 0.03), 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background: $mono-b-500;
    transition: all 0.2s ease;
  }
}

.catalog {
  position: relative;
  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    // height: 400px;
    padding: 16px 16px;
    &:hover .button_mini {
      opacity: 1;
    }
  }
  &__item_img {
    max-width: 100%;
    height: 221px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    // @media #{$tablet} {
    //   height: 160px;
    // }
  }
  &__item_text {
    margin: 20px 0px 8px 0px;
    // width: 221px;
  }
  &__item_link {
    color: $mono-a-a900;
    display: flex;
    // padding-bottom: 5px;
    transition: all 0.1s ease;
    height: 48px;
    &:hover {
      opacity: 0.6;
    }
    // @media #{$tablet} {
    //   text-align: center;
    // }
  }
  &__item_elements {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    flex-direction: column;
    height: 64px;
  }
  &__item_footer {
    color: $mono-a-a900;
    // padding-top: 9px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__item_price {
    color: $mono-a-a900;
  }
  &__current {
    color: $mono-a-a500;
  }
  &__item_old-price {
    color: $mono-a-a600;
    position: relative;
    width: 67px;
    margin-bottom: 2px;
    &:before {
      border-bottom: 2px solid $warn-a800;
      position: absolute;
      content: "";
      width: 100%;
      height: 40%;
      transform: matrix(0.99, -0.06, 0.11, 1, 0, 0);
    }
  }
}

.button_mini {
  opacity: 0;
  @media #{$mobile} {
    opacity: 1;
  }
  width: 48px;
  height: 48px;
  background: $primary-300;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
  &:hover {
    box-shadow: 0 1px 7px rgb(0 0 0 / 30%);
    transform: translateY(-1px);
  }
  &:active {
    background-color: #3a95ca;
  }
}

// Для второго слайдера //

.swiper-slide {
  flex-shrink: 0;
}

// .prv {
//   visibility: hidden;
// }

.nxt,
.prv {
  background-color: $mono-a-a75;
  // top: 32%;
  @media #{$mobile} {
    display: none;
  }
}
.page {
  display: none;
}
