.show {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 46px 8px 26px 0;

  &__all {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.1s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &__link {
    color: $mono-a-a700;
    padding-right: 8px;
  }

  &__img {
    height: 16px;
    width: 16px;
  }
}

.modified {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.wrap {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}

.card {
  flex-shrink: 0;

  &:hover {
    background: $mono-b-500;
    border-radius: 6px;
    box-shadow: 0px -0.5px 2px 1px rgba(0, 0, 0, 0.02),
      0px 4px 8px rgba(0, 0, 0, 0.03), 0px 12px 24px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
  }
}

.catalog {
  position: relative;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    padding: 16px;
    width: 100%;

    &:hover .button_mini {
      opacity: 1;
    }
  }

  &__item_img {
    display: flex;
    height: 221px;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
  }

  &__item_text {
    margin: 20px 0px 8px;
  }

  &__item_link {
    color: $mono-a-a900;
    display: flex;
    height: 48px;
    transition: all 0.1s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &__item_elements {
    display: flex;
    flex-direction: column;
    height: 64px;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  &__item_footer {
    align-items: flex-end;
    color: $mono-a-a900;
    display: flex;
    justify-content: space-between;
  }

  &__item_price {
    color: $mono-a-a900;
  }

  &__current {
    color: $mono-a-a500;
  }

  &__item_old-price {
    color: $mono-a-a600;
    margin-bottom: 2px;
    position: relative;
    width: 67px;

    &::before {
      border-bottom: 2px solid $warn-a800;
      content: "";
      height: 40%;
      position: absolute;
      transform: matrix(0.99, -0.06, 0.11, 1, 0, 0);
      width: 100%;
    }
  }
}

.button_mini {
  align-items: center;
  background: $primary-300;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  opacity: 0;
  transition: all 0.1s ease;
  width: 48px;

  &:hover {
    box-shadow: 0 1px 7px rgb(0 0 0 / 30%);
    transform: translateY(-1px);
  }

  &:active {
    background-color: #3a95ca;
  }

  @media #{$mobile} {
    opacity: 1;
  }
}

// Для второго слайдера //

.swiper-slide {
  flex-shrink: 0;
}

.nxt,
.prv {
  background-color: $mono-a-a75;

  @media #{$mobile} {
    display: none;
  }
}

.page {
  display: none;
}
