.footer {
  background: $secondary-1-300;
  padding: 48px 0px 40px;

  &__social_item {
    border-radius: 4px;
    padding: 0 8px;
    transition: all 0.1s ease;

    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 8px;

    &:hover {
      // opacity: 0.6;
      background-color: $other-background-5;
    }

    &:active {
      background-color: $other-background-6;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{$mobile} {
      justify-content: center;
      text-align: center;
    }
  }

  &__descr {
    color: $mono-a-a700;
    display: block;
    padding-top: 8px;
    text-align: right;
    transition: all 0.1s ease;

    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }

    @media #{$mobile} {
      text-align: center;
    }
  }
}

.divider {
  border: 1px solid $mono-a-a75;
  margin: 24px 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;

  @media #{$mobile} {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.categories {
  transition: all 0.1s ease;

  &__item {
    padding-bottom: 8px;

    &:first-child {
      padding-bottom: 16px;
    }
  }

  &__link {
    color: $mono-a-a700;
    transition: all 0.1s ease;

    &:hover {
      // color: rgba(0, 0, 0, 0.8);
      // text-decoration: underline;
      border-bottom: 1px solid $mono-a-a700;
    }
  }

  &__link-main {
    color: $mono-a-a700;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.clients {
  flex-basis: 63%;

  &__item {
    padding-bottom: 8px;

    &:first-child {
      padding-bottom: 16px;
    }
  }

  &__link {
    color: $mono-a-a700;

    &:hover {
      // color: rgba(0, 0, 0, 0.8);
      // text-decoration: underline;
      border-bottom: 1px solid $mono-a-a700;
    }
  }

  &__link-main {
    color: $mono-a-a700;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  @media #{$tablet} {
    flex-basis: 18%;
  }
}

.contacts {
  text-align: right;

  &__item {
    padding-bottom: 108px;

    &:first-child {
      padding-bottom: 16px;
    }

    @media #{$mobile} {
      padding-bottom: 45px;
    }
  }

  &__item-img {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    content: "";
    height: 32px;
    margin-left: 8px;
    padding: 4px;
    width: 48px;
  }

  &__link-phone {
    color: $mono-a-a700;

    &:hover {
      // color: rgba(0, 0, 0, 0.8);
      // text-decoration: underline;
      border-bottom: 1px solid $mono-a-a700;
    }
  }

  &__link-main {
    color: $mono-a-a700;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }

  @media #{$mobile} {
    text-align: center;
  }
}
