.header {
  margin-bottom: 26px;
  border-bottom: 1px solid $mono-a-a100;

  &__top {
    display: flex;
    gap: 0 24px;
    align-items: center;
    margin-top: 24px;
    @media #{$mobile} {
      display: grid;
      grid-template-areas:
        "logo menu"
        "search-box search-box";
      grid-template-rows: 45px;
      grid-template-columns: 1fr;
      gap: 0 14px;
    }
  }

  &__bottom {
    padding: 14px 0px;
    @media #{$mobile} {
      padding: 14px 0px;
      text-align: center;
    }
  }

  &__logo {
    padding-top: 5px;
    @media #{$mobile} {
      grid-area: logo;
      padding-top: 5px;
    }
  }
}

.search-box {
  position: relative;
  top: 0;
  left: 0;
  flex-grow: 1;

  &__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: $mono-a-500;
    background-color: transparent;
    border: 2px solid $mono-a-a200;
    border-radius: 4px;
    outline: none;
    transition: all 0.1s ease;

    &::placeholder {
      color: $mono-a-a500;
    }

    &:focus,
    &:hover {
      box-shadow: 0 0 4px 1px $mono-a-a200;
    }
  }

  &__submit {
    position: absolute;
    width: 32px;
    height: 39px;
    margin-left: -36px;
    cursor: pointer;
    background: url("../icons/icon_serch.svg") center center no-repeat;
    border: none;
  }
  @media #{$mobile} {
    grid-area: search-box;
  }
}

.menu {
  grid-area: menu;

  &__panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media #{$mobile} {
      grid-area: menu__panel;
    }
  }

  &__item {
    position: relative;
    margin-right: 20px;
    @media #{$mobile} {
      margin-right: 14px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &__item_lower {
    padding-right: 24px;
    white-space: nowrap;
    @media #{$mobile} {
      padding: 0px 14px 8px 1px;
    }
  }

  &__link {
    color: $mono-a-a800;
    transition: all 0.1s ease;

    &:hover {
      opacity: 0.6;
    }
  }
}

.shop-cart {
  position: absolute;
  top: -7px;
  right: -8px;
  z-index: 1140;
  display: inline-block;
  text-align: center;

  &__white-wrapper {
    z-index: 1140;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: $mono-b-500;
    border-radius: 30px;
    transition: all 0.2s ease-out;
  }

  &__counter-wrapper {
    position: relative;
    top: 2px;
    right: -2px;
    z-index: 1150;
    width: 16px;
    height: 16px;
    color: $mono-b-500;
    cursor: pointer;
    background: $primary-300;
    border-radius: 40px;
  }

  &__count {
    display: flex;
    justify-content: center;
    font-size: 10px;
    line-height: 16px;
  }
}
