.input {
  &__box {
    background-color: transparent;
    border: 2px solid $mono-a-a200;
    border-radius: 4px;
    color: $mono-a-500;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    padding: 10px;
    transition: all 0.1s ease;
  }

  &__mini {
    background-color: $mono-b-500;
    border: 2px solid $mono-a-a200;
    border-radius: 4px;
    color: $mono-a-500;
    outline: none;
    padding: 18px;
    padding-left: 41px;
    transition: all 0.1s ease;
  }
}
