.mailing {
  &__content {
    margin: 56px 0;
    padding: 56px 0;
    text-align: center;
  }

  &__background {
    border-radius: 6px;
    background: $secondary-1-300;
  }

  &__text {
    padding: 8px 0 24px;
    color: $mono-a-a700;
  }

  &__license {
    padding-top: 24px;
    text-align: center;
    color: $mono-a-a500;
  }
}

.email {
  &__wrapper {
    position: relative;
    display: inline-flex;
  }

  &__input {
    outline: none;
    border: 2px solid $mono-a-a200;
    border-radius: 4px;
    padding: 18px;
    padding-left: 41px;
    width: 404px;
    color: $mono-a-500;
    background-color: $mono-b-500;
    transition: all 0.1s ease;

    &::placeholder {
      color: $mono-a-a500;
    }

    &:focus,
    &:hover {
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.07);
    }
    @media #{$mobile} {
      width: 255px;
    }
  }

  &__img {
    position: absolute;
    left: 12px;
    bottom: 12px;
    border: none;
  }
}

.button_subscribe {
  margin: 10px 0px 0px 10px;
  border: none;
  border-radius: 4px;
  width: 132px;
  height: 56px;
  color: $mono-b-500;
  background: $primary-300;
  transition: all 0.1s ease;
  cursor: pointer;

  &:hover,
  &:active {
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    background: #3a95ca;
  }
}
