.mailing {
  &__content {
    margin: 56px 0;
    padding: 56px 0;
    text-align: center;
  }

  &__background {
    background: $secondary-1-300;
    border-radius: 6px;
  }

  &__text {
    color: $mono-a-a700;
    padding: 8px 0 24px;
  }

  &__license {
    color: $mono-a-a500;
    padding-top: 24px;
    text-align: center;
  }
}
