.mailing {
  &__content {
    text-align: center;
    padding: 56px 0;
    margin: 0 auto;
    margin: 56px 0 56px;
  }
  &__background {
    background: #e8e7e2;
    border-radius: 6px;
  }
  &__text {
    color: $mono-a-a700;
    padding: 8px 0 24px 0;
  }
  &__license {
    color: $mono-a-a500;
    text-align: center;
    padding-top: 24px;
  }
}

.search-box_mini {
  position: relative;
  top: 0;
  left: 0;
  img {
    border: none;
    margin-left: -2px;
    left: 30%;
    bottom: 64%;
    position: absolute;
  }
}

.email input[type="text"] {
  padding-left: 41px;
}

input[name="email"] {
  @include email;
  color: $mono-a-a500;
  width: 404px;
  padding: 18px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: $mono-b-a500;
  color: #000;
  outline: none;
  transition: all 0.1s ease;
  &:focus,
  &:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.07);
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.38);
  }
}

.button_subscribe {
  width: 132px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #3389ba;
  color: $mono-b-a500;
  margin-left: 16px;
  transition: all 0.1s ease;
  &:hover,
  &:active {
    background: #3a95ca;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
  }
}
