.mailing-box {
  &__subscribe {
    margin: 10px 0px 0px 10px;
  }

  &__wrapper {
    display: inline-flex;
    position: relative;
  }

  &__input {
    width: 404px;

    &::placeholder {
      color: $mono-a-a500;
    }

    &:focus,
    &:hover {
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.07);
    }

    @media #{$mobile} {
      width: 255px;
    }
  }

  &__img {
    border: none;
    bottom: 12px;
    left: 12px;
    position: absolute;
  }
}
