@media (max-width: 1439px) {
}
@media (max-width: 1200px) {
  .title {
    font-size: 29px;
    line-height: 31px;
    padding-top: 8px;
  }
  .text {
    font-size: 15px;
    line-height: 21px;
  }
  .shop-cart {
    &__white-wrapper {
      right: -5px;
    }
  }
  input[name="query"] {
    width: 820px;
  }
  .mailing img {
    left: 27%;
  }
  .swiper {
    .swiper-slide {
      & > div {
        min-height: 250px;
      }
      &__content {
        flex-basis: 50%;
        margin-left: 88px;
      }
    }
    .swiper-button-prev {
      left: -15px;
    }
    .swiper-button-next {
      right: 25px;
    }
  }

  .catalog {
    &__item {
      height: 370px;
    }
    &__item_img {
      height: 170px;
    }
    .swiper-button-next {
      right: 30px;
    }
  }

  .technologies {
    &__cooler {
      min-width: 580px;
    }
    &__info {
      padding-left: 30px;
    }
    &__subtitle {
      font-size: 26px;
    }
    &__text {
      font-size: 15px;
    }
    &__card {
      text-align: center;
    }
    &__descr {
      font-size: 15px;
    }
    &__content-top {
      padding: 12px;
    }
    &__subtitle-mid {
      font-size: 15px;
      line-height: 26px;
      padding-top: 30px;
    }
  }

  .mailing {
    .email-img {
      margin-left: -40px;
    }
  }
}
@media (max-width: 1024px) {
  .shop-cart {
    &__white-wrapper {
      right: -1px;
    }
  }
  .swiper {
    .swiper-slide {
      &__content {
        flex-basis: 60%;
      }
    }
  }
  input[name="query"] {
    width: 645px;
  }
  .mailing img {
    left: 23%;
  }
  .technologies {
    &__oven-img {
      padding: 2px 25px;
    }
    &__food-img {
      width: 234px;
    }
    &__cooler {
      min-width: 470px;
    }
    &__info {
      padding-left: 30px;
      width: 400px;
    }
    &__subtitle {
      font-size: 25px;
    }
    &__text {
      font-size: 14px;
    }
    &__card {
      text-align: center;
    }
    &__descr {
      font-size: 15px;
    }
    &__content-top {
      padding: 9px;
    }
    &__subtitle-mid {
      font-size: 15px;
      line-height: 26px;
      padding-top: 30px;
    }
  }
  .clients {
    flex-basis: 50%;
  }
}
@media (max-width: 992px) {
  .title {
    font-size: 29px;
    line-height: 31px;
    padding-top: 8px;
  }
  .text {
    font-size: 15px;
    line-height: 21px;
  }
  input[name="query"] {
    width: 613px;
  }
  .swiper {
    .swiper-slide {
      & > div {
        min-height: 230px;
      }
      &__content {
        flex-basis: 65%;
        margin-left: 80px;
      }
    }
    .swiper-pagination {
      display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  .catalog {
    &__item {
      height: 375px;
    }
    &__item_img {
      height: 170px;
    }
    .swiper-button-next {
      display: none;
    }
    .swiper-pagination {
      display: none;
    }
  }

  .technologies {
    &__oven-img {
      padding: 2px 25px;
    }
    &__food-img {
      width: 234px;
    }
    &__cooler {
      min-width: 470px;
    }
    &__subtitle {
      font-size: 25px;
    }
    &__text {
      font-size: 14px;
    }
    &__card {
      text-align: center;
    }
    &__descr {
      font-size: 15px;
    }
    &__content-top {
      padding: 9px;
    }
    &__subtitle-mid {
      font-size: 15px;
      line-height: 26px;
      padding-top: 30px;
    }
  }

  .mailing img {
    margin-left: -12px;
  }
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .clients {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .shop-cart {
    &__white-wrapper {
      right: 56px;
      top: 2px;
    }
  }
  .title {
    font-size: 25px;
    line-height: 31px;
    padding-top: 8px;
  }
  .text {
    font-size: 14px;
    line-height: 21px;
  }
  input[name="query"] {
    width: 530px;
  }
  .swiper {
    .swiper-slide {
      & > div {
        min-height: 200px;
      }
      &__content {
        flex-basis: 70%;
        margin-left: 45px;
      }
    }
    .swiper-pagination {
      display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  .catalog {
    .show {
      &__all {
        &:hover {
          opacity: 1;
        }
      }
    }
    .button_mini {
      opacity: 1;
      &:hover {
        box-shadow: none;
        transform: none;
      }
    }
    &__item_img {
      height: 160px;
    }
    &__item_link {
      text-align: center;
      &:hover {
        opacity: 1;
      }
    }
    .swiper-button-next {
      right: 35px;
    }
    .swiper-pagination {
      display: none;
    }
    .card:hover {
      box-shadow: none;
      background: none;
      transition: none;
    }
  }

  .advantages {
    &__subject {
      font-size: 15px;
      padding: 14px 0 4px 0;
    }
    &__descr {
      font-size: 13px;
    }
    &__services {
      padding: 12px;
    }
    .button_more:hover {
      background: none;
      box-shadow: none;
    }
  }

  .technologies {
    .show {
      &__all {
        &:hover {
          opacity: 1;
        }
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__box {
      padding-left: 0;
    }
    &__oven-img {
      padding: 2px 90px;
    }
    &__food-img {
      width: 364px;
    }
    &__cooler {
      margin-bottom: 24px;
    }
    &__info {
      padding-top: 65px;
    }
    &__subtitle {
      font-size: 25px;
      &:hover {
        opacity: 1;
      }
    }
    &__text {
      font-size: 14px;
      &:hover {
        opacity: 1;
      }
    }
    &__card {
      text-align: center;
    }
    &__descr {
      font-size: 15px;
      &:hover {
        opacity: 1;
      }
    }
    &__descr_white:hover {
      opacity: 1;
    }
    &__content-top {
      padding: 35px 16px;
      flex-basis: 56%;
    }
    &__subtitle-mid {
      font-size: 15px;
      line-height: 26px;
      padding-top: 30px;
      &:hover {
        opacity: 1;
      }
    }
  }

  .mailing img {
    margin-left: -70px;
  }
  .button_subscribe {
    &:hover {
      box-shadow: none;
    }
  }
  .footer {
    padding: 26px 0 62px;
    &__wrapper {
      flex-wrap: wrap;
    }
    &__social_item {
      &:hover {
        opacity: 1;
      }
    }
  }
  .clients {
    flex-basis: 18%;
    // display: flex;
    // // justify-content: center;
    // justify-content: space-around;
  }

  .menu {
    position: fixed;
    right: 0;
    left: 0;
    height: 9%;
    bottom: 0;
    z-index: 100;
    padding: 8px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    // background-color: rgba(226, 226, 226, 0.8);
    background-color: rgba(245, 245, 245, 0.95);
    &__link {
      &:hover {
        opacity: 1;
      }
    }
    &__panel {
      justify-content: space-around;
      text-align: center;
    }
    &__text {
      color: #1f1f1e;
      font-size: 13px;
      line-height: 13px;
      display: block;
    }
    &__item {
      padding-right: 0;
    }
    &__left {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100%;
      /* bottom: 0; */
      z-index: 100;
      padding: 18px 18px;
      // background-color: rgba(58, 58, 58, 0.8);
      background-color: rgba(245, 245, 245, 0.95);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.6s ease;
    }
    &__left_active {
      left: 0;
    }
    &__panel_active {
      // justify-content: space-between;
      // margin: 0 auto;
      // align-items: center;
      // display: flex;
      flex-direction: column;
    }
    &__item_lower {
      margin-bottom: 50px;
      padding-right: 0;
    }
    &__link_lower {
      font-size: 17px;
      // color: $title-color;
      // color: #1f1f1e;
      color: #3389ba;
    }
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 28px;
    top: 23%;
    transform: rotateY(-50%);
    width: 26px;
    height: 12px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      // background-color: #1f1f1e;
      background-color: #3389ba;

      margin-bottom: 2px;
      transition: all 0.6s ease;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .shop-cart {
    &__white-wrapper {
      right: 36px;
    }
  }
  .swiper {
    .swiper-slide {
      &__content {
        flex-basis: 50%;
      }
    }
  }
  input[name="query"] {
    width: 338px;
  }
  .catalog {
    &__item {
      width: 100%;
    }
    &__item_link {
      justify-content: center;
    }
    &__item_img {
      height: 160px;
    }
    &__item_footer {
      justify-content: space-around;
    }
  }
  .advantages {
    &__subject {
      font-size: 18px;
      padding: 18px 0 8px 0;
    }
    &__descr {
      font-size: 14px;
    }
    &__services {
      padding: 24px;
      flex-direction: column;
    }
    &__wrapper {
      margin-bottom: 24px;
    }
  }
  .technologies {
    &__oven-img {
      padding: 2px 42px;
    }
    &__food-img {
      width: 268px;
    }
    &__content-top {
      padding: 34px 8px;
    }
    &__subtitle-mid {
      padding-top: 24px;
    }
  }
  .mailing img {
    margin-left: -45px;
    top: 8%;
  }
  .button_subscribe {
    margin: 16px;
  }
  .mailing__license {
    font-size: 11px;
  }
}
@media (max-width: 425px) {
  .shop-cart {
    &__white-wrapper {
      right: 20px;
    }
  }
  .header {
    &__top {
      flex-direction: column;
    }
    &__logo {
      padding-bottom: 18px;
    }
  }
  .hamburger {
    right: 28px;
    top: 9%;
  }
  .swiper {
    .subtitle {
      text-align: center;
    }

    .swiper-slide {
      &__content {
        flex-basis: 67%;
      }
    }
  }
  input[name="query"] {
    width: 272px;
  }
  input[name="email"] {
    width: 325px;
  }
  .show {
    margin: 28px;
    flex-direction: column;
    &__link {
      padding: 8px;
    }
  }
  .catalog {
    .button_mini {
      opacity: 1;
    }
    &__item {
      width: 100%;
    }
    &__item_img {
      height: 160px;
    }
    &__item_link {
      padding-bottom: 15px;
    }
    &__item_footer {
      justify-content: space-around;
    }
  }
  .advantages {
    &__subject {
      padding: 18px 0 8px 0;
    }
    &__text {
      font-size: 14px;
    }
  }
  .technologies {
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__cooler {
      min-width: 100%;
    }
    &__info {
      padding-top: 75px;
      padding-left: 14px;
      width: 100%;
    }
    &__card {
      height: 100%;
      display: grid;
      grid-gap: 24px 24px;
    }
    &__oven-img {
      padding: 2px 98px;
      // width: 393px;
      height: 100%;
      border-radius: 6px;
    }
    &__food-img {
      width: 380px;
      height: 100%;
      border-radius: 6px;
    }
    &__content-top {
      padding: 24px;
      border-radius: 6px;
      border: 2px solid rgba(0, 0, 0, 0.04);
    }
    &__subtitle {
      font-size: 21px;
      line-height: 28px;
    }
    &__descr {
      font-size: 15px;
    }
    &__subtitle-mid {
      padding-top: 8px;
      font-size: 16px;
    }
  }
  .mailing {
    &__subtitle {
      font-size: 25px;
    }
    &__text {
      font-size: 15px;
    }
  }
  .mailing img {
    margin-left: -46px;
  }
  .menu {
    &__left {
      width: 70%;
    }
  }
  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__descr {
      padding: 14px 0;
      text-align: center;
    }
    &__social_item {
      padding: 0 12px;
    }
    .footer-info {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .contacts {
      text-align: center;
      &__item {
        padding-bottom: 28px;
      }
      .contacts__item-img {
        margin: 0 12px;
      }
    }
    .categories {
      &__item {
        padding-bottom: 28px;
      }
    }
    .clients {
      &__item {
        padding-bottom: 28px;
      }
      &:first-child {
        padding-bottom: 0;
      }
    }
  }
}
@media (max-width: 375px) {
  .shop-cart {
    &__white-wrapper {
      right: 15px;
    }
  }
  .title {
    font-size: 26px;
    line-height: 29px;
  }
  .text {
    font-size: 14px;
  }
  .header {
    &__top {
      flex-direction: column;
    }
    &__logo {
      padding-bottom: 18px;
    }
  }
  .swiper {
    .swiper-slide {
      &__content {
        flex-basis: 75%;
      }
    }
  }
  input[name="query"] {
    width: 272px;
  }
  input[name="email"] {
    width: 285px;
  }
  .show {
    margin: 28px;
    flex-direction: column;
  }
  .catalog {
    .button_mini {
      opacity: 1;
    }
    &__item {
      height: 300px;
    }
    &__item_img {
      height: 160px;
    }
    &__item_link {
      text-align: center;
    }
  }
  .advantages {
    &__subject {
      font-size: 18px;
      padding: 18px 0 8px 0;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 31px;
    }
    &__text {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .technologies {
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__cooler {
      min-width: 100%;
    }
    &__info {
      padding-top: 45px;
      padding-left: 14px;
      width: 100%;
      // text-align: center;
    }
    &__card {
      height: 100%;
      display: grid;
      grid-gap: 24px 24px;
    }
    &__oven-img {
      padding: 2px 74px;
      // width: 341px;
      height: 100%;
      border-radius: 6px;
    }
    &__food-img {
      width: 330px;
      height: 100%;
      border-radius: 6px;
    }
    &__content-top {
      padding: 24px;
      border-radius: 6px;
      border: 2px solid rgba(0, 0, 0, 0.04);
    }
    &__subtitle {
      font-size: 21px;
      line-height: 28px;
    }
    &__descr {
      font-size: 15px;
    }
    &__subtitle-mid {
      padding-top: 8px;
      font-size: 16px;
    }
  }
  .mailing img {
    margin-left: -41px;
  }
  .footer {
    .contacts {
      text-align: center;
    }
    .clients {
      &:first-child {
        padding-bottom: 0;
      }
    }
  }
}
@media (max-width: 320px) {
  .shop-cart {
    &__white-wrapper {
      right: 9px;
    }
  }
  .subtitle {
    font-size: 22px;
  }
  .title {
    font-size: 25px;
    line-height: 27px;
  }
  .swiper {
    .show .subtitle {
      font-size: 22px;
    }
    .swiper-slide {
      &__content {
        flex-basis: 85%;
        margin-left: 25px;
      }
    }
  }
  input[name="email"] {
    width: 255px;
  }
  .technologies {
    &__oven-img {
      padding: 2px 46px;
    }
    &__food-img {
      width: 276px;
    }
  }
  .mailing {
    &__subtitle {
      font-size: 21px;
    }
    &__text {
      font-size: 12px;
    }
  }
  .mailing img {
    margin-left: -40px;
    top: 7%;
  }
  .mailing__license {
    font-size: 9px;
  }
  .menu {
    &__link_lower {
      font-size: 15px;
    }
    &__left {
      width: 75%;
    }
  }
}
