.menu-other {
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: color 0.25s ease;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
    overflow: visible;
  }

  &::after {
    content: "";
    height: 200%;
    left: 0;
    position: absolute;
    top: 9px;
    width: 100%;
  }

  @media (max-width: 767px) {
    padding: 0 14px 8px 1px;
  }

  &__wrap {
    align-items: center;
    display: flex;
    height: 100%;
  }

  &__text {
    color: $mono-a-a800;
    padding: 8px;

    @media (max-width: 767px) {
      padding: 5px;
    }
  }

  &__menu-more {
    background: $menu-more;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(15px);
    visibility: visible;
    width: 215px;
    z-index: 50;

    &:hover {
      visibility: visible;
    }
  }
}

span svg {
  // height: 7px;
  margin-left: 6px;
  margin-top: 2px;
  transform: rotate(0deg);
  // transform: translateY(-50%);
  transition: transform 0.25s ease;
  // width: 9px;

  &:hover {
    transform: rotate(180deg);
    // transition: transform 0.25s ease;
    // transform: translateY(50%);
  }

  // position: absolute;
  // right: 0;
  // top: 50%;
}
