.search-box {
  flex-grow: 1;
  left: 0;
  position: relative;
  top: 0;

  &__input {
    height: 40px;
    width: 100%;

    &::placeholder {
      color: $mono-a-a500;
    }

    &:focus,
    &:hover {
      box-shadow: 0 0 4px 1px $mono-a-a200;
    }
  }

  &__submit {
    background: url("../icons/icon_serch.svg") center center no-repeat;
    border: none;
    cursor: pointer;
    height: 39px;
    margin-left: -36px;
    position: absolute;
    width: 32px;
  }

  @media #{$mobile} {
    grid-area: search-box;
  }
}
