.swiper {
  position: relative;
}

.subtitle {
  color: $mono-a-a900;
}

.title {
  padding-top: 12px;
  color: $mono-b-500;
}

.text {
  color: $mono-b-a900;
}

.swiper-container {
  position: static;
  margin-top: 18px;
}

.swiper-slide {
  & > div {
    display: flex;
    align-items: center;
    min-height: 380px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
  }

  &__content {
    flex-basis: 30%;
    margin-left: 208px;
    @media #{$tablet} {
      flex-basis: 32%;
    }
    @media #{$mobile} {
      margin-left: 8px;
    }
  }
}

.swiper-pagination {
  position: relative;
  top: 0;
  bottom: 10px;
  left: 0;
  width: 100%;
  @media #{$mobile} {
    display: none;
  }
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: $mono-a-a500;
  border-radius: 24px;

  &:hover {
    opacity: 1;
    transition: all 0.1s ease;
  }
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-prev {
  @include swiper-arrow-btn;

  left: -32px;
  background-image: url("../icons/icon_arrow_L.svg");
  transition: all 0.1s ease;
  transform: translate(50%, 50%);

  &:hover {
    box-shadow: 0 1px 10px rgb(0 0 0 / 30%);
  }
  @media #{$mobile} {
    display: none;
  }
}

.swiper-button-next {
  @include swiper-arrow-btn;

  right: 10px;
  background-image: url("../icons/icon_arrow_R.svg");
  transition: all 0.1s ease;
  transform: translate(50%, 50%);

  &:hover {
    box-shadow: 0 1px 10px rgb(0 0 0 / 30%);
  }
  @media #{$mobile} {
    display: none;
  }
}
