.technologies {
  &__wrapper {
    display: flex;
    @media #{$tablet} {
      flex-direction: row;
    }
    @media #{$mobile} {
      flex-direction: column;
    }
  }

  &__cooler {
    position: relative;
    display: flex;
    flex-basis: 50%;
    border-radius: 6px;
    background-image: url("../images/bg_cooler.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      background: $gradient-overlay-d800;
    }
    @media #{$mobile} {
      flex-basis: auto;
      height: 400px;
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  &__info {
    padding-bottom: 30px;
    padding-left: 40px;
    max-width: 588px;
    @media #{$tablet} {
      padding-top: 65px;
      padding-left: 16px;
    }
    @media #{$mobile} {
      padding-top: 45px;
      padding-left: 8px;
    }
  }

  &__box {
    flex-basis: 50%;
    margin-left: 24px;
    @media #{$mobile} {
      flex-direction: column;
      margin-top: 24px;
      margin-left: 0px;
    }
  }

  &__box-wrap:first-child {
    margin-bottom: 24px;
  }

  &__card {
    display: flex;
  }

  &__oven {
    display: flex;
    border-radius: 6px 0 0 6px;
    padding: 2px 71px;
    width: 326px;
    height: 188px;
    background: $secondary-2-300;
    background-image: url("../images/bg_oven.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    @media #{$tablet} {
      width: 150px;
    }
    @media #{$mobile} {
      padding: 0px;
      width: 120px;
      height: 100%;
    }
  }

  &__food {
    display: flex;
    border-radius: 6px 0 0 6px;
    width: 326px;
    height: 188px;
    background-image: url("../images/bg_food.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media #{$tablet} {
      width: 150px;
    }
    @media #{$mobile} {
      width: 120px;
      height: 100%;
    }
  }

  &__content-top {
    flex-basis: 50%;
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-left: none;
    border-radius: 0 6px 6px 0;
    padding: 16px;
    background: $other-background-2;
    @media #{$tablet} {
      flex-basis: 76%;
    }
    @media #{$mobile} {
      flex-basis: 86%;
    }
  }

  &__descr {
    color: $mono-a-a800;

    &:hover {
      opacity: 0.7;
    }
  }

  &__descr_white {
    color: $mono-b-a900;

    &:hover {
      opacity: 0.9;
    }
  }

  &__subtitle {
    padding: 4px 0;
    color: $mono-b-500;

    &:hover {
      opacity: 0.9;
    }
  }

  &__subtitle-mid {
    display: block;
    padding-top: 8px;
    color: $mono-a-a900;

    &:hover {
      opacity: 0.7;
    }
  }

  &__text {
    color: $mono-b-500;

    &:hover {
      opacity: 0.9;
    }
  }
}
