@import "../base/mixins";
@import "../base/variables";
@import "../blocks/header.scss";
@import "../blocks/swiper.scss";
@import "../blocks/catalog.scss";
@import "../blocks/advantages.scss";
@import "../blocks/technologies.scss";
@import "../blocks/mailing.scss";
@import "../blocks/footer.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(0deg, #fcfcfa, #fcfcfa), #f5f7fa;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1358px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.2px;
}

.subtitle {
  font-weight: 900;
  font-size: 28px;
  line-height: 36px;
}

.body-100 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-200 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-300 {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.typography {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.price {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.subject {
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.main {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
}
